.header {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  color: #52677a;
  height: 35px;
  background-color: #D3DCE2;
}


.menu {
  display: flex;
  align-items: center;
}

.menu-item {
  display: flex;
  justify-content: center;
  justify-items: center;
  padding: 0 13px;
  border-right: 1px solid #acbbc8;
  border-right-width: 100%;
  cursor: pointer;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-item:hover {
  color: #948e8e;
}

.separate-over-item:hover {
  color: #354a5d;
}

.separate-over-item2:hover {
  color: #354a5d;
}

/* inputSearch */
.inputSearch {
  border: none;
  font-size: large;
  background-color: #D3DCE2;
}

.inputSearch:focus {
  outline: none;
}

.showme {
  display: none;
  position: absolute;
  top: 40px;
  background-color: #0b0f12;
  width: 173px;
  height: 370px;
}

.showhim:hover .showme {
  display: block;
}